@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* body{
    background-color: black;
    color: white;
} */
*{
    font-family: 'Poppins', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{
margin: 0;
padding: 0;
}
.logo img{
    padding-left: 8px;
    width: 200px;
}
.left{
    position: sticky;
    width: 22vw;
    /* padding: 10px; */
    height: 100vh;
}
.right{
    width: 78vw;
    position: relative;
    height: 100vh;
}
.home ul li{
    padding-left: 8px;
    display: flex;
    gap: 16px;
    list-style: none;
    width: 25px;
    padding-top: 18px;
    align-items: center;
}
.home{
    margin: 5px;
    font-weight: bold;
}
.bg-grey{
    background-color: #121212;
}
.heading{
    display: flex;
    gap: 16px;
    width: 100%;
    padding-top: 12px;
    font-size: 13px;
    align-items: center;
}
.heading img{
    width: 25px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    align-items: center;
    color: grey;
    gap: 10px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    /* width: 15vw; */
}
.footer a{
    color: grey;
}
.library{
    height: 72vh;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header > *{
    padding: 4px;
}
.nav{
    display: flex;
    gap: 14px;
    align-items: center;
}
.Artists{
    /* padding: 16px; */
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
    /* padding: 10px 0; */
    width: 78vw;
    
}
.cardcontainer{
    height: 75vh;
    overflow-y: scroll;
    display: flex;
    gap: 1px;
    padding: 6px;
    flex-wrap: wrap;
}
.card{
    position: relative;
    padding: 15px;
    border-radius: 7px;
    padding-top: 20px;
    /* border: 2px solid red; */
    width: 130px;
    height: 190px;
    /* background-color: #26d243; */
}
.play{
    position: absolute;
    right: 10px;
    bottom: 0;
    opacity: 0;
    transition: all .2s ease-out;
    top: 130px;
}
.Artists .card{
    width: 150px;
}
.Artists h1{
    /* background-color: #121212; */
    border-radius: 6px;
    height: 30px;
    padding: 6px;
    /* justify-content: center; */
}
.card img{
    width: 100%;
    border-radius: 100px;
    object-fit: contain;
}
.card > *{
    padding-top: 3px;
}
.signupbtn{
    font-weight: bold;
    background-color:#121212;
    color: #898585 ;
    font-size: 14px;
    border: none;
    outline: none;
}
.button{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.signupbtn:hover{
    font-size: 15px;
    color: white;
}
.loginbtn{
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 12px 35px;
    border-radius: 100px;
}
.loginbtn:hover{
    padding: 13px 36px;
}
.playbar{
    position:absolute;
    bottom: 0;
    background-color: white;
    padding: 22px;
    margin-bottom: 10px;
    border-radius: 12px;
    width: 74vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}
.songbuttons{
    display: flex;
    gap: 20px;
}
.songlist ul{
    padding: 0 12px;
}.songlist ul li{
    list-style-type: decimal;
}